html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #e3e7f1;
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: "Arial Black", Gadget, sans-serif;
}

nav {
	background-color: #c6cbef;
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
}

nav div {
	background-color: #494ca2;
	height: 100%;
	width: 100px;
	float: left;
	text-align: center;
	font-size: 20px;
}

nav div p {
	margin: 0px;
	margin-top: 10%;
	padding: 0px;
}

nav a {
	color: black;
	height: 100%;
	width: 100px;
	margin: 0;
	text-decoration-line: none;
}

nav div:hover {
	background-color: #8186d5;
	cursor: pointer;
}
@keyframes slide {
	from {animation-timing-function: ease-out; margin-top: -50px;}
	to {animation-timing-function: ease-out; margin-top: 0px;}
}

article {
	width: 20%;
	height: 33%;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
}

article:hover {
	transform: scale(1.1);
}

a {
	text-decoration: none;
	color: black;
	float: left;
	width: 225px;
	height: 225px;
	background-color: #c6cbef;
	text-align: center;
}

article a {
	text-decoration: none;
	color: black;
	float: left;
	width: 225px;
	height: 225px;
	background-color: #c6cbef;
	text-align: center;
	animation-name: slide;
	animation-duration: 1s;
}

@keyframes mPop {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {animation-fill-mode: forwards; opacity: 1;}
}

#mostPop {
	margin-left: 10px;
	animation-name: mPop;
	animation-duration: 2s;
}

article p {
	margin: 0px;
	padding: 0px;
	color: black;
}

article a {
	text-decoration-line: none;
	margin-right: 10px;
}

img {
	width: 210px;
	height: 190px;
	margin-top: 5px;
}

canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#mKno {
	margin-top: 3px;
	font-size: 15px;
}


#highscores {
	clear: left;
	margin-left: 10px;
}

.active {
	background-color: #111478;
}

#gl {
	margin-top: 5%;
	line-height: 20px;
}

#commenter {
	margin-left: 10px;
}

#backb {
	height: 30px;
	width: 70px;
}